.bebidabotao {
    background-color: #fff !important;
    color: #00796b !important;
    padding: 12px 25px !important;
    border-radius: 30px !important;
    font-weight: bold !important;
    margin: 10px !important; /* Add margin here */
  }
  
  .bebidabotao:hover {
    background-color: #004d40 !important;
    color: #fff !important;
  }
  
/* homepage.css */
.form-container {
    background-color: #00796b;
    padding: 20px;
    border-radius: 10px;
    display: inline-flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .form-container input {
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 12px;
    width: 120px;
    font-size: 16px;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
  
  .form-container input:focus {
    border-color: #00796b;
    outline: none;
  }
  
  .form-container label {
    font-weight: bold;
    font-size: 14px;
    color: #00796b;
  }
  